
body{
    background-image: url(../img/pexels-photo-326311.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

.faq {
    text-align: center;
    color: orange;
    margin-top: 10vh;
    padding: 1em;
}

.span1{
color: orange;


}



.par1{
    color:gray;
    
}


.span2 {
    color: orange;
    
    }
    
    .par2 {
        color:gray;
        
    }

    
.span3 {
    color: orange;
    
    }
    
    .par3{
        color:gray;
        
    }

    .blok1, .blok2,.blok3 {
        text-align: center;
    }


    .prost1, .prost2, .prost3{
        justify-content: center;
       
        
    }

    .mat1, .mat2, .mat3 {
      justify-content: center;
      height: 50%;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }

    
